body{
    margin:0;
    padding:0;

}
.Container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.blueContainer{
background-color: rgb(158, 232, 245);
height:600px;
width:900px;
box-sizing: border-box;
padding:20px;
display:flex;
flex-direction: column;
align-items: center;
gap:20px
}
.header{
    width:100%;
    background-color: rgb(6, 231, 164);
    padding:20px;
    box-sizing: border-box;
    color:white;
    font-weight:600;
    font-size:20px;
    text-align: center;
}
.body{
display: flex;
gap:30px;
}
.aside{
    background-color: rgb(129, 247, 105);
    height:470px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight:600;
    font-size:20px;
    

}
.article{
    background-color: rgb(243, 153, 68);
    width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
    padding-bottom:10px;
}
.article > p{
    color:white;
    font-weight:600;
    font-size:20px;
    text-align: center;
}
.imageBlock{
    display:flex;
    gap:10px;
    padding:0 10px;
    justify-content: center;
    
}
.imageBlock >.images{
    height:170px;
    width:170px;
    background-color:rgb(243, 196, 68) ;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight:400;
    font-size:20px;
}